/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    /* line-height: 1.6; */
}

.main{
    background-color: #fff;
}

/* Top Section */
.top-section {
    background-color: #fff;
    border: 1px solid #292424;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.top-section h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.top-section p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 15px;
}

.top-section a {
    display: inline-block;
    text-decoration: underline;
    color: #0e0f0f;
    font-weight: bold;
    margin-top: 10px;
}

.top-section a:hover {
    text-decoration: underline;
    color: #007bff;
}

/* Image Section */
.image-section {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    text-align: center;
}

.image-section h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    text-decoration: underline;
}

.image-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    justify-items: flex-start;
}

.image-section a {
    display: inline-block;
    text-decoration: underline;
    color: #0e0f0f;
    font-weight: bold;
    margin-top: 10px;
    
}

.image-section a:hover {
    text-decoration: underline;
    color: #007bff;
}

/* Trivia Section */
.trivia-section {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
} 

.trivia-section h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: underline;
}

.trivia-section ol {
    margin: 0;
    padding-left: 20px;
    list-style: decimal inside;
}

.trivia-section li {
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .top-section,
    .image-section,
    .trivia-section {
        margin: 10px;
        padding: 15px;
    }

    .top-section h1,
    .image-section h2,
    .trivia-section h2 {
        font-size: 18px;
    }

    .top-section p,
    .trivia-section li {
        font-size: 14px;
    }
}